button Start new game

h3 Previous games

table#games
  thead
    tr
      th(colspan=11) 01/01/2016
    tr
      th Game
      th Frame 1
      th Frame 2
      th Frame 3
      th Frame 4
      th Frame 5
      th Frame 6
      th Frame 7
      th Frame 8
      th Frame 9
      th Frame 10
  tfoot
    tr
      td(colspan=10)
      td 737
  tbody
    tr
      td G1
      td
        span 4
        span /
        span 10
      td 2
      td 3
      td 4
      td 5
      td 6
      td 7
      td 8
      td 9
      td 10
    tr
      td G2
      td 1
      td 2
      td 3
      td 4
      td 5
      td 6
      td 7
      td 8
      td 9
      td 10
    tr
      td G3
      td 1
      td 2
      td 3
      td 4
      td 5
      td 6
      td 7
      td 8
      td 9
      td 10