/**
 * Games
 */

table.series {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    tr {
      th {
        text-align: left;
        font-size: $font-xsmall;
      }
    }
  }
  tbody {
    td {
      font-size: $font-xsmall;
      border: 1px solid $p6;
      height: 50px;
      width: 50px;
      vertical-align: top;
      margin: 0;
      padding: 0;

      div.pins {
        line-height: 25px;

        // First throw
        div:nth-child(1) {
          text-align: center;
          margin: auto;
          height: 25px;
        }

        // Boxed scores
        div.boxed {
          border: 1px solid $p6;
          border-width: 0 0 1px 1px;
          width: 25px;
          height: 25px;
          text-align: center;
        }
      }

      div.score {
        font-weight: bold;
        text-align: center;
        padding-top: 5px;
      }
    }

    td:nth-child(11) {
      width: 75px;
    }

    td:last-child {
      text-align: center;
      line-height: 50px;
      font-weight: bold;
    }
  }
  tfoot {
    td:not(:first-child) {
      text-align: right;
      padding-right: 0.5em;
      border:1px solid $p6;
    }
  }
}