h3 Bowling Statistics
p Below you can find various statistics for your bowling.

div.flex.flex-space-around
  div.flex-direction-column
    div.bold Current Average
    div.bold High Game
    div.bold High Series
    br
    div.bold Games over 275
    div.bold Games over 250
    div.bold Games over 225
    div.bold Games over 200
  div.flex-direction-column
    div 196
    div 300
    div 737
    br
    div 7
    div 18
    div 27
    div 53