/*
*    variables
*/

// Color palette
$p1:                      #CEEBFB;    // blue - lightest
$p2:                      #A3D6F5;    // blue - medium
$p3:                      #66A7C5;    // blue - darkest
$p4:                      #EE3233;    // red
$p5:                      #F0ECEB;    // light gray
$p6:                      #6C7476;    // dark gray

$font-family:             'Open Sans', sans-serif;

$font-mini:               0.6875rem;  // 11px
$font-xsmall:             0.75rem;    // 12px
$font-small:              0.8125rem;  // 13px
$font-base:               16px;       // Base font which REM unit uses
$font-medium:             1.125rem;   // 18px
$font-large:              1.375rem;   // 22px
$font-xlarge:             1.625rem;   // 26px;

$header-size-1:           2.25rem;    // h1
$header-size-2:           1.75rem;    // h2
$header-size-3:           1.375rem;   // h3
$header-size-4:           1.125rem;   // h4
$header-size-5:           0.875rem;   // h5
$header-size-6:           0.75rem;    // h6

$line-height-base:        1.4;