h3 Welcome to Bowling App
p This app allows you to track your pins in bowling games so that you know how you have done in the past.

h3 Why would I want to use it?
p It allows you to look back and see precisely which pins you have knocked down, where you hit the pins, your speed (if applicable), and more.
p With this information you can look back at what you've done, keep track of your top scores, and know what your average is.

h3 Get started
p Use the link at the top that says, "New Game" and start entering your scores!
